<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4 text-center">
                <h1 class="h1">Tecnológico Nacional de México</h1>
                <h3 class="h3">Instituto Tecnológico de Tijuana</h3>
                <p class="text-body"></p>
                <h4 class="h4">Semestre</h4>
                <p class="text-body">Febrero-Junio 2022</p>
                <h4 class="h4">Carrera</h4>
                <p class="text-body">Ingeniería en sistemas computacionales</p>
                <h4 class="h4">Materia y Serie</h4>
                <p class="text-body">ANALISIS AVANZADO DE DESARROLLO DE SOFTWARE</p>
                <h4 class="h4">Nombre del docente</h4>
                <p class="text-body">VICTOR MANUEL MONDRAGON URIARTE</p>
            </div>
        </div>
        <div class="col-sm-12 col-xl-3">
            <div class="bg-secondary rounded h-80 p-4">
                <h1 class="h1">Integrantes</h1>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent">Alejandro Espinoza Castillo</li>
                    <li class="list-group-item bg-transparent">Lesli Liset Sanchez Baez</li>
                    <li class="list-group-item bg-transparent">Angel Essau Muñoz Sandoval</li>
                    <li class="list-group-item bg-transparent">Kenny Zheng Hu</li>
                    <li class="list-group-item bg-transparent">Daniel Gutierrez Vizcarra</li>
                </ul>
            </div>
        </div>
    </div>
</div>